{% extends "academic/academic_base.html" %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-success mt-5">
                <div class="card-header bg-success text-white">
                    <h1 class="text-center mb-0">Issue Book to Student</h1>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% if success_message %}
                        <div class="alert alert-success" role="alert">
                            {{ success_message }}
                        </div>
                        {% endif %}
                        <div class="mb-3">
                            <label for="id_student_name" class="form-label text-primary">Search Student:</label>
                            <input type="text" name="student_name" id="id_student_name" class="form-control text-brown" placeholder="Enter student name">
                        </div>
                        <div class="mb-3">
                            <label for="id_book_name" class="form-label text-primary">Search Book:</label>
                            <input type="text" name="book_name" id="id_book_name" class="form-control text-brown" placeholder="Enter book name">
                        </div>
                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-success">Search</button>
                        </div>
                        <div class="mb-3">
                            <label for="id_student" class="form-label text-primary">Student Name:</label>
                            <select name="student" id="id_student" class="form-select form-select-lg text-brown">
                                {% for student in students %}
                                <option value="{{ student.id }}">{{ student.surname }} {{ student.firstname }} {{ student.other_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="id_book" class="form-label text-primary">Book to Issue:</label>
                            <select name="book" id="id_book" class="form-select form-select-lg text-brown">
                                {% for book in books %}
                                <option value="{{ book.id }}">{{ book.book_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="id_book_number" class="form-label text-primary">Book Number:</label>
                            <input type="number" name="book_number" id="id_book_number" class="form-control text-brown">
                        </div>
                        <div class="mb-3">
                            <label for="id_date_issued" class="form-label text-primary">Date Issued:</label>
                            <input type="date" name="date_issued" id="id_date_issued" class="form-control text-brown">
                        </div>
                        <div class="mb-3">
                            <label for="id_expiry_date" class="form-label text-primary">Date to Return:</label>
                            <input type="date" name="expiry_date" id="id_expiry_date" class="form-control text-brown">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
