{% extends 'secretary/base_secretary.html' %}
{% load static %}

{% block content %}
{% comment %} Include AOS library {% endcomment %}
<link href="{% static 'css/aos.css' %}" rel="stylesheet">
<script src="{% static 'js/aos.js' %}"></script>

<script>
  // Initialize AOS
  AOS.init();
</script>

<style>
  .form-group {
    border-color: teal;
  }
</style>
<form method="post" data-aos="fade-up" data-aos-duration="1000">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}
