{% extends 'secretary/base_secretary.html' %}
{% load static %}

{% block content %}
{% comment %} Include AOS library {% endcomment %}
<link href="{% static 'css/aos.css' %}" rel="stylesheet">
<script src="{% static 'js/aos.js' %}"></script>

<script>
  // Initialize AOS
  AOS.init();
</script>

<h1 data-aos="fade-up" data-aos-duration="1000">Delete Event: {{ event.title }}</h1>
<p data-aos="fade-up" data-aos-duration="1000">Are you sure you want to delete this event?</p>
<form method="post" data-aos="fade-up" data-aos-duration="1000">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Delete</button>
  <a href="{% url 'event_detail' event.pk %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
