{% extends "secretary/base_secretary.html" %}
{% load static %}

{% block title %}Select Class{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'student-create' %}"><i class="fas fa-plus"></i> New student</a>
<a class="btn btn-primary" href="{% url 'student-upload' %}"><i class="fas fa-upload"></i> Upload students</a>
<a class="btn btn-primary" href="{% url 'staff-create' %}"><i class="fas fa-plus"></i> New staff</a>
{% endblock breadcrumb %}

{% block content %}
<div class="container" data-aos="fade-up" data-aos-duration="1000">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="classSelect" style="color: teal;">Select Class:</label>
      <div id="classSelect">
        {% for student_class in classes %}
          <div class="form-check">
            <input class="form-check-input" type="radio" name="selected_class" id="class{{ forloop.counter }}" value="{{ student_class.name }}">
            <label class="form-check-label" for="class{{ forloop.counter }}" style="color: teal;">
              {{ student_class.name|upper }}
            </label>
          </div>
        {% endfor %}
      </div>
    </div>

    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Allui Students</button>
  </form>
</div>
{% endblock content %}

{% block morejs %}
<script src="{% static 'js/animations/animations.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
  // Initialize AOS
  AOS.init();
</script>

<style>
  .form-check-label {
    text-transform: uppercase;
    color: teal;
  }
</style>
{% endblock morejs %}
