{% extends "secretary/base_secretary.html" %}

{% block content %}
<h2>Archived Students</h2>
{% for year, classes in grouped_students.items %}
    <h3>Archived in {{ year }}</h3>
    {% for student_class, students in classes.items %}
        <h4>Class: {{ student_class }}</h4>
        <table>
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Student Name</th>
                    <th>Archive Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'archived_student_details' student.pk %}">{{ student.firstname }} {{ student.surname }}</a></td>
                    <td>{{ student.archive_date }}</td>
                    <td>
                        <a href="{% url 'unarchive_student' student.pk %}">Unarchive</a>
                        <a href="{% url 'delete_student' student.pk %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endfor %}
{% endblock %}
