{% extends 'secretary/base_secretary.html' %}
{% load static %}

{% block content %}
{% comment %} Include AOS library {% endcomment %}
<link href="{% static 'css/aos.css' %}" rel="stylesheet">
<script src="{% static 'js/aos.js' %}"></script>

<script>
  // Initialize AOS
  AOS.init();
</script>

<h1 data-aos="fade-up" data-aos-duration="1000">{{ event.title }}</h1>
<p data-aos="fade-up" data-aos-duration="1000"><strong>Description:</strong> {{ event.description }}</p>
<p data-aos="fade-up" data-aos-duration="1000"><strong>Date:</strong> {{ event.date }}</p>
<p data-aos="fade-up" data-aos-duration="1000"><strong>Participants:</strong></p>
<ul data-aos="fade-up" data-aos-duration="1000">
  {% for participant in event.participants.all %}
  <li>{{ participant }}</li>
  {% endfor %}
</ul>
<p data-aos="fade-up" data-aos-duration="1000"><strong>Location:</strong> {{ event.location }}</p>

<a href="{% url 'secretary_event_update' event.pk %}" class="btn btn-primary" data-aos="fade-up" data-aos-duration="1000">Update Event</a>
<a href="{% url 'secretary_event_delete' event.pk %}" class="btn btn-danger" data-aos="fade-up" data-aos-duration="1000">Delete Event</a>
{% endblock %}
