.words{
-background-color:brown;
-color:white;
width:59%;
margin-left:13px;
-height:150px;
float:left;
}
.panel{
-background-color:blue;
-color:white;
width:35%;
-height:150px;
float:left;
}
.mimi{
width:100%;
float:left;
}
.calendar{
-background-color:blue;
-color:white;
width:100%;
height:auto;
float:left;
}